@CHARSET "ISO-8859-1";

body{
	font-family: arial;
}

#formularioTarefa{
	margin-left: 323px;
	padding-top: 20px;
	width: 700px;
	padding-left: 22px;
	float: left;
}

* {
    margin: 0;
    padding: 0;
}
 
fieldset {
    border: 0;
}
 
body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}
 
.grupo:before, .grupo:after {
    content: " ";
    display: table;
}
 
.grupo:after {
    clear: both;
}
 
.campo {
    margin-bottom: 1em;
}
 
.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}
 
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}
 
.campo input[type="text"],
.campo input[type="number"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
 
 
 
.botao {
    font-size: 1.5em;
    background: #3498DB;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.1em 0.4em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
 
.botao:hover {
    background: #2980B9;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
 
.botao, select, label.checkbox {
    cursor: pointer;
}