@CHARSET "ISO-8859-1";

body{
	font-family: arial;
}


#informacao{
	height: 500px;
	width: 500px;
	margin: auto;
	padding-top:100px;
	text-align: left;
	
}

#btns{
	height: 55px;
	width: 500px;
	float: left;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

* {
box-sizing: border-box;
}

.btn:hover {
  background-color: #2980B9;
  cursor: pointer;
}

#informacaoImg{

background-repeat: no-repeat;
    border-radius: 50%;
    width: 250px;
    height: 250px;
	background-color: #2980B9;
	text-align: center;
	margin: auto;

	
}

#informacaoTexto{
	height: 150px;
	width: 500px;
	float: left;
	font-size: 25px;
}

#nomeUsuarioBuscado{
	font-size: 50px;
}
